{% extends 'layout.html' %}

{% block title%}
Sign up
{% endblock  %}

{% block body%}
    <div style="height:100vh" class="d-flex align-items-center justify-content-center">
    <div>
            <h1 style="text-align:center">Sign up</h1>
                <form style="width:40vw" class="px-4 py-3" method="POST">
                    <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Have an account? Sign in</a>
                </div>
        </div>
    </div>
{% endblock  %}
